In [2]:
import numpy as np
np.linspace(-3,3)

array([-3.        , -2.87755102, -2.75510204, -2.63265306, -2.51020408,
       -2.3877551 , -2.26530612, -2.14285714, -2.02040816, -1.89795918,
       -1.7755102 , -1.65306122, -1.53061224, -1.40816327, -1.28571429,
       -1.16326531, -1.04081633, -0.91836735, -0.79591837, -0.67346939,
       -0.55102041, -0.42857143, -0.30612245, -0.18367347, -0.06122449,
        0.06122449,  0.18367347,  0.30612245,  0.42857143,  0.55102041,
        0.67346939,  0.79591837,  0.91836735,  1.04081633,  1.16326531,
        1.28571429,  1.40816327,  1.53061224,  1.65306122,  1.7755102 ,
        1.89795918,  2.02040816,  2.14285714,  2.26530612,  2.3877551 ,
        2.51020408,  2.63265306,  2.75510204,  2.87755102,  3.        ])

In [3]:
array = np.linspace(-3,3,num=100)
array * 10

array([-30.        , -29.39393939, -28.78787879, -28.18181818,
       -27.57575758, -26.96969697, -26.36363636, -25.75757576,
       -25.15151515, -24.54545455, -23.93939394, -23.33333333,
       -22.72727273, -22.12121212, -21.51515152, -20.90909091,
       -20.3030303 , -19.6969697 , -19.09090909, -18.48484848,
       -17.87878788, -17.27272727, -16.66666667, -16.06060606,
       -15.45454545, -14.84848485, -14.24242424, -13.63636364,
       -13.03030303, -12.42424242, -11.81818182, -11.21212121,
       -10.60606061, -10.        ,  -9.39393939,  -8.78787879,
        -8.18181818,  -7.57575758,  -6.96969697,  -6.36363636,
        -5.75757576,  -5.15151515,  -4.54545455,  -3.93939394,
        -3.33333333,  -2.72727273,  -2.12121212,  -1.51515152,
        -0.90909091,  -0.3030303 ,   0.3030303 ,   0.90909091,
         1.51515152,   2.12121212,   2.72727273,   3.33333333,
         3.93939394,   4.54545455,   5.15151515,   5.75757576,
         6.36363636,   6.96969697,   7.57575758,   8.18181818,
         8.78787879,   9.39393939,  10.        ,  10.60606061,
        11.21212121,  11.81818182,  12.42424242,  13.03030303,
        13.63636364,  14.24242424,  14.84848485,  15.45454545,
        16.06060606,  16.66666667,  17.27272727,  17.87878788,
        18.48484848,  19.09090909,  19.6969697 ,  20.3030303 ,
        20.90909091,  21.51515152,  22.12121212,  22.72727273,
        23.33333333,  23.93939394,  24.54545455,  25.15151515,
        25.75757576,  26.36363636,  26.96969697,  27.57575758,
        28.18181818,  28.78787879,  29.39393939,  30.        ])

In [4]:
np.random.randint(50,size=100,high=101)

array([ 82,  50,  50,  53,  74,  86,  58,  75,  78,  73,  73,  87,  94,
        78,  59,  70,  90,  83,  89,  69,  59,  91,  56,  93,  51,  77,
        53,  61,  65,  89,  63,  53,  59,  64,  71,  77,  78,  64,  81,
        50,  97,  56, 100,  76,  66,  92,  59,  86,  75,  78,  79,  58,
        96,  70,  94,  82,  92,  73,  66,  91,  90, 100,  91,  74,  81,
        64,  86,  79,  89,  88,  99,  58,  95,  80,  76,  59,  87,  56,
        85,  69,  96,  79,  50,  89,  98,  73,  78,  98,  73,  92,  52,
        67,  65,  52,  71,  90,  72,  60,  62,  58])

In [5]:
content = np.random.randint(50,size=(50,5),high=101)

In [6]:
import pandas as pd
df1 = pd.DataFrame(data=content,
             index=[f"第{i}號"for i in range(1,51)],
             columns=['國文','英文','數學','地理','歷史'])
df1

       國文  英文  數學  地理   歷史
第1號    64  52  72  73   65
第2號    85  69  74  78   53
第3號    86  55  96  70   87
第4號    64  79  91  73   84
第5號    51  52  56  91   50
第6號    94  77  84  94   68
第7號    94  73  57  63   94
第8號    56  74  73  50   97
第9號    96  64  91  75   80
第10號   72  91  73  74   51
第11號   61  51  58  90   76
第12號   80  61  97  62   67
第13號   85  78  79  82   52
第14號   63  61  64  86   66
第15號   54  53  66  71   89
第16號   95  53  57  86  100
第17號   61  88  90  95   84
第18號   93  86  95  60   89
第19號   57  77  86  82   89
第20號   56  81  94  71   76
第21號   56  50  78  68   58
第22號   64  51  80  82   99
第23號   76  76  90  92   87
第24號  100  98  66  75   59
第25號   52  55  69  59   94
第26號   61  94  70  59   99
第27號   55  73  92  59   97
第28號   89  54  87  84   67
第29號   72  61  76  85   93
第30號   63  97  81  99   50
第31號   82  81  82  77   98
第32號   71  71  78  59   51
第33號   74  72  97  86   57
第34號   56  56  63  59   87
第35號   72  58  73  89   58
第36號   86  70  54  63   60
第37號   51  57  64  97   90
第38號   62  52  93  56   59
第39號   74  71  70  75   80
第40號   75  67  84  87   96
第41號   80  78  77  86   51
第42號   71  88  95  63   80
第43號   71  53  54  83   61
第44號   73  71  83  66   75
第45號   75  54  75  79   68
第46號   62  77  71  97   53
第47號   59  66  92  70   54
第48號   97  96  55  86   60
第49號   55  81  76  90   75
第50號   86  97  67  58   93

In [8]:
df1.loc["第1號",:]

國文    64
英文    52
數學    72
地理    73
歷史    65
Name: 第1號, dtype: int64

In [9]:
df1.loc["第1號"]

國文    64
英文    52
數學    72
地理    73
歷史    65
Name: 第1號, dtype: int64

In [10]:
df1.loc[["第1號","第5號","第10號"]]

      國文  英文  數學  地理  歷史
第1號   64  52  72  73  65
第5號   51  52  56  91  50
第10號  72  91  73  74  51

In [11]:
df1.iloc[:5]

     國文  英文  數學  地理  歷史
第1號  64  52  72  73  65
第2號  85  69  74  78  53
第3號  86  55  96  70  87
第4號  64  79  91  73  84
第5號  51  52  56  91  50

In [12]:
df1.iloc[-5:]

      國文  英文  數學  地理  歷史
第46號  62  77  71  97  53
第47號  59  66  92  70  54
第48號  97  96  55  86  60
第49號  55  81  76  90  75
第50號  86  97  67  58  93

In [15]:
df1.loc['第10號':'第15號']

      國文  英文  數學  地理  歷史
第10號  72  91  73  74  51
第11號  61  51  58  90  76
第12號  80  61  97  62  67
第13號  85  78  79  82  52
第14號  63  61  64  86  66
第15號  54  53  66  71  89